
.buttonWrapper {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ACADB0;
    color: black;
    border-radius: 5px;
    margin: 1px;
}
.buttonWrapper:hover {
    background-color: rgb(181, 48, 48);
}